* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

h1 {
  font-family: 'Bungee Tint', cursive;
  color: azure;
  margin-bottom: 1em;
}

h2 {
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  max-width: 800px;
  width: 100%;
}

.formulario-horizontal {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between; /* Alinea los elementos horizontalmente */
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario_estandar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%; /* Ajuste del ancho para que los dos formularios se alineen correctamente */
}

textarea {
  border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
  resize: none;
  overflow: auto;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
